<!----start-clients---->
		<div class="clients">
			<div class="client-head">
				<h3 class="advhead">Awsome Adventures</h3>
				<span>Best Adventures Made by Awsome Folks!</span>
			</div>
			<div id="slider">
<ul>
	<li>
	<div class="slider-container">
    <h4>Bent Batota</h4>
		<p>this website helps me to discover more about Egypt</p>
	</div>
	</li>
		<li>
		<div class="slider-container">
    <h4>Ra7ala</h4>
		<p>I knew about places I never known before</p>
	</div>
	</li>
		<li>
	<div class="slider-container">
    <h4>Ahmed Alaa</h4>
		<p>this website is all about egypt</p>
	</div>
	</li>
		<li>
	<div class="slider-container">
    <h4>Hamed Mohsen</h4>
		<p>I was looking for website like that</p>
	</div>
	</li>
</ul>
</div>
		<!----//End-clients---->