<!----start-clients---->
		<div class="clients">
			<div class="client-head">
				<h3 class="advhead">Awsome Adventures</h3>
				<span>Best Adventures Made by Awsome Folks!</span>
			</div>
			<div id="slider">
<ul>
	<li>
	<div class="slider-container">
    <h4>Pure CSS slider Content</h4>
		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,</p>
	</div>
	</li>
		<li>
		<div class="slider-container">
       <h4>Pure CSS slider Content</h4>
		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,</p>
	</div>
	</li>
		<li>
		<div class="slider-container">
       <h4>Pure CSS slider Content</h4>
		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,</p>
	</div>
	</li>
		<li>
		<div class="slider-container">
      <h4>Pure CSS slider Content</h4>
		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,</p>
	</div>
	</li>
</ul>
</div>
		<!----//End-clients---->