
<div class="container">
    <div class="row">
<div *ngFor="let trip of trips">
<div class="criuse-grid">
    <div class="criuse-grid-head">
        <div class="criuse-img">
            <div class="criuse-pic">
                <a class="thumbnail" [routerLink]='["/tripContent/"+trip._id]'>
               <img class="img-responsive" [src]="'./app/components/images/'+trip.tripPicsUrl[0]" onError="this.src='./app/components/images/slider-bg.jpg';" alt="{{trip.title}}" height="300px" >
                </a>
            </div>
            
            <div class="criuse-pic-info">
                <div class="criuse-pic-info-top">
                    <div class="criuse-pic-info-top-weather">
                        <p>33<label>o</label><i>c</i><span> </span></p>
                    </div>
                    <div class="criuse-pic-info-top-place-name">
                        <h2><label>{{trip.title}}</label><span>{{trip.holidayType[0] | TripType}} EXO</span></h2>
                    </div>
                </div>
                <div class="criuse-pic-info-price">
                    <span>Starting Form</span>
                        <h4>{{trip.price}} $</h4>
                   
                </div>
            </div>
        </div>
        <div class="criuse-info">
            <div class="criuse-info-left">
                <ul>
                   <li *ngFor="let activity of trip.activities"><i class="fa fa-tag" aria-hidden="true"></i><a>&nbsp; {{activity}}</a></li>
               
                    <div class="clear"> </div>
                </ul>
            </div>
        
            <div class="clear"> </div>
        </div>
    </div>

    <div class="criuse-grid-info">
        <blockquote>
        <h1><a  [routerLink]='["/tripContent/"+trip._id]'>{{trip.title}}</a></h1>
        <p>{{trip.description}}</p>
        <a class=" btn btn-danger" [routerLink]='["/tripContent/"+trip._id]'>DeTails</a>
        </blockquote>
    </div>
</div>
</div>
    </div>
</div>