

        <!--DEMO01-->
        <div id="animatedModal"> 
          <!--THIS IS IMPORTANT! to close the modal, the class name has to match the name given on the ID  class="close-animatedModal" -->
       
          <div class="modal-content">
            <table class="table table-responsive">
              <tr>
                <td><a href="./app/assets/images/1462353277_cm.jpg" target="_blank" data-lightbox="image-1"><img src="./app/assets/images/1462353277_cm.jpg"/></a></td>
                <td><a href="./app/assets/images/1462353277_cm.jpg" data-lightbox="image-1"><img src="./app/assets/images/1462353277_cm.jpg"/></a></td>
                <td><a href="./app/assets/images/1462353277_cm.jpg" data-lightbox="image-1"><img src="./app/assets/images/1462353277_cm.jpg"/></a></td>
                <td><a href="./app/assets/images/1462353277_cm.jpg" data-lightbox="image-1"><img src="./app/assets/images/1462353277_cm.jpg"/></a></td>
              </tr>
              <tr>
                <td><a href="./app/assets/images/1462353277_cm.jpg" data-lightbox="image-1"><img src="./app/assets/images/1462353277_cm.jpg"/></a></td>
                <td><a href="./app/assets/images/1462353277_cm.jpg" data-lightbox="image-1"><img src="./app/assets/images/1462353277_cm.jpg"/></a></td>
                <td><a href="./app/assets/images/1462353277_cm.jpg" data-lightbox="image-1"><img src="./app/assets/images/1462353277_cm.jpg"/></a></td>
                <td><a href="./app/assets/images/1462353277_cm.jpg" data-lightbox="image-1"><img src="./app/assets/images/1462353277_cm.jpg"/></a></td>
              </tr>
              
            </table>
          </div>
          		
