	
      <!--start related places section-->
       <div class="container">
       <h2>Related Places</h2>
       
       <ul class="bxslider">
  <li><img src="./app/assets/images/blog-pic1.jpg" /></li>
  <li><img src="./app/assets/images/blog-pic2.jpg" /></li>
  <li><img src="./app/assets/images/15540678_10157985986180074_5405511011493690361_o.jpg" /></li>
  <li><img src="./app/assets/images/blog-pic.jpg" /></li>
  <li><img src="./app/assets/images/d7.jpg" /></li>
  
  <li><img src="./app/assets/images/d2.jpg" /></li>
  <li><img src="./app/assets/images/d7.jpg" /></li>
  
  <li><img src="./app/assets/images/d2.jpg" /></li>
</ul>
       <!--end related places section-->
       </div>
        <!--end place details section-->
