/*
<!----start-offers---->
<div class="offers">
	<div class="offers-head">
		<h3>Special Places</h3>
		<p>Best 2017 packages where people love to stay!</p>
	</div>
	<!--start content_slider -->
	<div class="row">
		<div class="pics">
			<div *ngFor =" let place of fivePlaces" class="pic">
				<div align="center" class="fond">


					 <a class="thumbnail" [routerLink]='["/placeDetails/"+place._id]'>
                    <img style="height:200px;" class="img-responsive" [src]="'./app/components/images/'+place.placePicsUrl[0]"  onError="this.src='./app/components/images/defaultthumbnail.jpg';" alt={{place.placeName}}>
                
						<div class="shadow_swhow_mini">
							<div class="deroul_titre">{{place.placeName}}</div>
							<div class="deroul_soustitre">{{place.price}}</div>
						</div>
				
					 </a>
				
				<!----//place-caption-info---->
			</div>


		

		
			
		
		
		
		</div>

	</div>
	<!-- //End content_slider -->
</div>
<!----//End-offers---->
			</div>
			