
    <div class="container">
        <!-- Trigger the modal with a button -->
        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Add Review</button>

        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">

                    <div class="modal-body">
                        <p>Add Review</p>
                        <!--Content-->
                        <div class="container-fluid">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th></th>
                                        <th>Exist</th>
                                        <th>Rate</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Food</td>
                                        <td  title=".roundedOne">
                                                <!-- .roundedOne -->
                                                <div class="roundedOne">
                                                    <input type="checkbox" value="None" id="roundedOneFood" name="check" checked />
                                                    <label for="roundedOneFood"></label>
                                                </div>
                                                <!-- end .roundedOne -->
                                        </td>
                                        <td>
                                            <div class="col-md-4"><input type="range" class="slider"/></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>Service</td>
                                          <td  title=".roundedOne">
                                                <!-- .roundedOne -->
                                                <div class="roundedOne">
                                                    <input type="checkbox" value="None" id="roundedOneService" name="check" checked />
                                                    <label for="roundedOneService"></label>
                                                </div>
                                                <!-- end .roundedOne -->
                                        </td>
                                        <td>
                                            <div class="col-md-4"><input type="range" class="slider"/></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">3</th>
                                        <td>cleanliness</td>
                                            <td  title=".roundedOne">
                                                <!-- .roundedOne -->
                                                <div class="roundedOne">
                                                    <input type="checkbox" value="None" id="roundedOnecleanliness" name="check" checked />
                                                    <label for="roundedOnecleanliness"></label>
                                                </div>
                                                <!-- end .roundedOne -->
                                        </td>
                                        <td>
                                            <div class="col-md-4"><input type="range" class="slider"/></div>
                                        </td>
                                    </tr>
                                        <tr>
                                        <th scope="row">4</th>
                                        <td>value</td>
                                            <td  title=".roundedOne">
                                                <!-- .roundedOne -->
                                                <div class="roundedOne">
                                                    <input type="checkbox" value="None" id="roundedOnevalue" name="check" checked />
                                                    <label for="roundedOnevalue"></label>
                                                </div>
                                                <!-- end .roundedOne -->
                                        </td>
                                        <td>
                                            <div class="col-md-4"><input type="range" class="slider"/></div>
                                        </td>
                                    </tr>
                                        <tr>
                                        <th scope="row">5</th>
                                        <td>Toilet</td>
                                            <td  title=".roundedOne">
                                                <!-- .roundedOne -->
                                                <div class="roundedOne">
                                                    <input type="checkbox" value="None" id="roundedOneToilet" name="check" checked />
                                                    <label for="roundedOneToilet"></label>
                                                </div>
                                                <!-- end .roundedOne -->
                                        </td>
                                        <td>
                                            <div class="col-md-4"><input type="range" class="slider"/></div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>




                        </div>
                        <!--END Content-->



                        <div class="container-fluid">
                            <!--Comment Area-->
                            <div class="row">
                                <div class="addReview">
                                    <div class="form">
                                        <label for="comment">Comment:</label>
                                        <textarea class="form-control" rows="5" cols="5" id="comment"></textarea>
                                        <label for="addpic">Add Pictures:</label>
                                        <!--<form action="/file-upload" class="dropzone">
                                            <div class="fallback">
                                                <input name="file" type="file" multiple />
                                            </div>
                                        </form>-->
   <section>

  <h1 id="try-it-out">Try it out!</h1>

  <div id="dropzone"><form action="/upload" class="dropzone needsclick dz-clickable" id="demo-upload">

  <div class="dz-message needsclick">
    Drop files here or click to upload.<br>
    <span class="note needsclick">(This is just a demo dropzone. Selected files are <strong>not</strong> actually uploaded.)</span>
  </div>

</form></div>

</section>
                                        <script src="js/dropzone.js"></script>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--End Comment -->


                        <div class="container-fluid">
                            <!--star Area-->
                            <div class="row">
                                <label>Over All Rate:</label>>
                            </div>
                            <div class="row">

                                <div class="rate">
                                    <input type="radio" id="star5" name="rate" value="5" /><label for="star5" title="text">5 stars</label>
                                    <input type="radio" id="star4" name="rate" value="4" /><label for="star4" title="text">4 stars</label>
                                    <input type="radio" id="star3" name="rate" value="3" /><label for="star3" title="text">3 stars</label>
                                    <input type="radio" id="star2" name="rate" value="2" /><label for="star2" title="text">2 stars</label>
                                    <input type="radio" id="star1" name="rate" value="1" /><label for="star1" title="text">1 star</label>
                                </div>
                            </div>
                        </div>
                        <!-- END star Area-->

                    </div>
                    <!--End Modal Body-->




