<!--start-wrap-->
<!--start-top-header-->
<div class="top-header" id="header">
	<div class="wrap">
		<div *ngIf='_localStorge.length === 0' class="top-header-left">
			<ul>
				<li><a [routerLink]='["/loginAndReg"]'><span> </span> Login/Register</a></li>
				<div class="clear"> </div>
			</ul>
		</div>
		<div *ngIf='_localStorge.length > 0' class="top-header-left">
			<ul>

				<li><a [routerLink]='["/loginAndReg"]' (click)='logoOut()'><span> </span> LogOut</a></li>
				<li><a class="reg" [routerLink]='[profilePath]'>Profile</a></li>
				<div class="clear"> </div>
			</ul>
		</div>
		<div class="top-header-right">
			<ul>
				<li><a class="face" href="#"><span> </span></a></li>
				<li><a class="twit" href="#"><span> </span></a></li>
				<li><a class="thum" href="#"><span> </span></a></li>
				<li><a class="pin" href="#"><span> </span></a></li>
				<div class="clear"> </div>
			</ul>
		</div>
		<div class="clear"> </div>
	</div>
</div>
<!----//End-top-header----->
<!---start-header---->
<div class="header">
	<div class="wrap">
		<!--- start-logo---->
		<span class="logo">
			<a [routerLink]='["/"]'><img class="logoimg"
			src="{{logoPath}}EgyGo-Logo.png" title="egygologo" width="100" height="80" /></a>
		</span>
		<!--- //End-logo---->
		<!--- start-top-nav---->
		<div class="top-nav">
			<ul class="flexy-menu thick orange">
				<li><a [routerLink]='["/"]'>Home</a></li>
				<li><a [routerLink]='["/trips"]'>Trips</a>
					<!--	<ul>
								<li><a href="destinations.html">Dropdown item</a></li>
								<li><a href="destinations.html">Dropdown item</a></li>
								<li><a href="destinations.html">Dropdown item</a>
									<ul>
										<li><a href="destinations.html">Dropdown item</a></li>
										<li><a href="destinations.html">Dropdown item</a>
											<ul>
												<li><a href="destinations.html">Dropdown item</a></li>
												<li><a href="destinations.html">Dropdown item</a></li>
												<li><a href="destinations.html">Dropdown item</a></li>
												<li><a href="destinations.html">Dropdown item</a></li>
											</ul>
										</li>
										<li><a href="#">Dropdown item</a></li>
										<li><a href="#">Dropdown item</a></li>
									</ul>
								</li>
								<li><a href="#">Dropdown item</a></li>
								<li><a href="#">Dropdown item</a></li>
							</ul>
							-->
				</li>
				<li><a [routerLink]='["/places"]'>Places</a></li>
				<li><a [routerLink]='["/contactUS"]'>Contact</a></li>
				<li><a [routerLink]='["/aboutus"]'>About</a></li>
					<li>
					<a>
						<div class="dropdown">
							<span>filter</span>
							<div class="dropdown-content">
						 	<a  href='http://localhost:3000/filter'><p>by Place</p> </a>
						     <a herf='http://localhost:3000/Tripfilter'><p>by Trip</p> </a>
							</div>
						</div>
					</a>
				</li>

				
			</ul>


		</div>
		<!--- //End-top-nav---->
		<div class="clear"> </div>
	</div>
	<!---//End-header---->
</div>