<body background="{{backg}}/pyramids1.jpg">
  <div class="login-wrap">
	<div class="login-html">
		<input  id="tab-1" type="radio" name="tab" class="sign-in" checked>
		<label for="tab-1" class="tab">Sign In</label>
		<input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>
		<div class="login-form">
			<div class="sign-in-htm">
				<form #form='ngForm' (ngSubmit)="submitForm(form.value)">
				<div class="group">
					<label for="user" class="label">Username</label>
					<input id="user" [(ngModel)]='username' [ngModelOptions]="{standalone: true}" required type="text" class="inp" required>
								</div>
				<div class="group">
					<label for="pass" class="label">Password</label>
					<input id="pass" [(ngModel)]='userPassword' [ngModelOptions]="{standalone: true}" required type="password" class="inp" data-type="password" required>
				</div>
				<div class="group">
					<input id="check" type="checkbox" class="check" checked>
					<label for="check"><span class="icon"></span> Keep me Signed in</label>
				</div>
				<div class="group">
					<input  (click)="signIn()" type="submit" class="button" value="Sign In">
				</div>
					</form>
				<div class="foot-lnk">
					<a href="#forgot"><p style="margin-top:20px;">Forgot Password?</p></a>
				</div>
			
				<p class="or">- Or -</p>
    <div class="group">
					<input type="submit" class="button" value="Login with Facebook" style="background-color:#1161ee">
				</div>
					
  
			</div>
			<div class="sign-up-htm">
					<form #form='ngForm' (ngSubmit)="submitForm(form.value)">
				<div class="group">
					<label for="user" class="label">Username</label>
					<input id="user" type="text" class="inp" [(ngModel)]="username" required [ngModelOptions]="{standalone: true}" required>
				</div>
				<div class="group">
					<label for="pass" class="label">Password</label>
					<input id="pass" type="password" class="inp" data-type="password"[(ngModel)]="userPass" required [ngModelOptions]="{standalone: true}" required>
				</div>
				<div class="group">
					<label for="pass" class="label">Repeat Password</label>
					<input id="pass" type="password" class="inp" data-type="password" [(ngModel)]="confPass" required [ngModelOptions]="{standalone: true}" required>
				</div>
				<div class="group">
					<label for="pass" class="label">Email Address</label>
					<input id="pass" type="email" class="inp"[(ngModel)]="userEmail" required [ngModelOptions]="{standalone: true}" required>
				</div>
					<div class="group">
					<label for="user" class="label">BIO</label>
					<textarea  rows="4" cols="50" class="txtar" [(ngModel)]="bio" [ngModelOptions]="{standalone: true}"></textarea>
				</div>
				<div class="group">
				<label for="user" class="label">Profile Picture</label>
				<form action="/action_page.php">
                 <input type="file" name="pp" accept="image/*" >
                </form>				
				</div>
				<div class="group">
						<!--[routerLink]='["/profile"]'-->
					<input  type="submit" class="button" value="Sign Up" style="margin-top:37px" (click)="Validate()">
				</div>
					</form>
				<div class="hr"></div>
				
				<div class="foot-lnk">
				
				<label for="tab-1">Already Member?</label></div>

			</div>
					
		</div>
	</div>
</div>
  
  
</body>