<div class="container-fluid">
  <div class="row">
    <div id="slider">
      <div class="slides">

        <!-- First slide -->
         <div class="slider">
          <div class="legend"></div>
          <div class="content">
            <div class="content-txt">
              <h1> Nubian Live </h1>
              <h2> Enjoy the Nubian Test of our Country </h2>
            </div>
          </div>
          <div class="images">
            <img src="../../app/assets/images/nubia-1.jpg">
          </div>
        </div>
       

        <!-- Second slide -->
        <div class="slider">
          <div class="legend"></div>
          <div class="content">
            <div class="content-txt">
              <h1> Ancient </h1>
              <h2> A Tour To Our Historical Places </h2>
            </div>
          </div>
          <div class="image">
            <img src="../../app/assets/images/pyramides.jpg">
          </div>
        </div>

        <!-- Third slide -->
        <div class="slider">
          <div class="legend"></div>
          <div class="content">
            <div class="content-txt">
              <h1> Adventures </h1>
              <h2> It's Time To Live Magical Moments </h2>
            </div>
          </div>
          <div class="images">
            <img src="../../app/assets/images/colourful.jpg">
          </div>
        </div>

        <!-- Fourth slide -->
        <div class="slider">
          <div class="legend"></div>
          <div class="content">
            <div class="content-txt">
              <h1> Egypt </h1>
              <h2> Where The Magic Begins </h2>
            </div>
          </div>
          <div class="image">
            <img src="../../app/assets/images/egypt1.jpg">
          </div>
        </div>

      </div>
    </div>
  </div>
</div>