

<!---//calender-style---->

<!----start-wrap----> 
<!----start-wrap----> 

<!----start-images-slider---->
<div class="container">
  <div class="row">
    <div class="images-slider col-md-9 col-xs-12"> 
      <!-- start slider -->
      <div id="fwslider">
        <div class="slideer_container">
          <div class="slidee"> 
            <!-- Slide image --> 
            <img src="./app/assets/images/test.jpg" alt="Seiwa"/> 
            <!-- /Slide image --> 
            <!-- Texts container -->
            <div class="slide_content">
              <div class="slide_content_wrap"> 
                <!-- Text title -->
                <div id="ico">
                  <button class="btn love"><i class="fa fa-heart fa-2x" aria-hidden="true"></i></button>
                  <button class="btn go"><i class="fa fa-check fa-2x" aria-hidden="true"></i></button>
                </div>
                <h4 class="title">White Desert</h4>
                <!--start activity section-->
                <div class="activities">
                  <ul>
                    <li>Swimming </li>
                    <li>Diving</li>
                    <li>Safari </li>
                    <li>Bungy Jumping </li>
                    <li>Lorem ipsum </li>
                  </ul>
                </div>
                
                <!--end activity section--> 
              </div>
              <!-- /Texts container --> 
            </div>
            
            <!--/slide --> 
          </div>
        </div>
      </div>
      <!--/slider --> 
      
    </div>
    <div class="col-md-3 hidden-xs placeImg">
      <div class="image" > <img src="./app/assets/images/1462353277_cm.jpg" style="position:relative"/> <a id="photograph" href="./app/components/placeSliderComponent/photographimgs.component.html" target="_blank"> <span style="position:absolute; width:100%;top:28%;background-color:rgba(44, 62, 80, .5);color:#F5E5C0; padding:2%;">Photographers Photos</span></a> 
        
       
      </div>
      <!--End photography--> 
      <!--start photography-->
      <div class="image"> <img src="./app/assets/images/1462353277_cm.jpg" style="position:relative"/> <a ><span style="position:absolute; top:65%;background-color:rgba(44, 62, 80, .5);width:100%;color:#F5E5C0; padding:2%;">Visitors Photos</span></a> </div>
      <!--End Visitors-->
      <div class=" map">
        <div id="maps" style="position:relative ;width:275px;height:110px; margin-top:3%;"></div>
        
        <span style="position:absolute; top:93%;background-color:rgba(44, 62, 80, .5);width:100%;color:#F5E5C0; padding:2%;">Map</span> </div>
    </div>
  </div>
  <div id="rateTags" class="row">
    <div class="rate">
       <span><i class="fa fa-star fa-2x" aria-hidden="true"></i></span>
        <span><i class="fa fa-star fa-2x" aria-hidden="true"></i></span> 
        <span><i class="fa fa-star fa-2x" aria-hidden="true"></i></span>
         <span><i class="fa fa-star fa-2x" aria-hidden="true"></i></span>
          <span><i class="fa fa-star-o fa-2x" aria-hidden="true"></i></span>
           </div>
    <div class="tags">
      <button class="btn">safary</button>
      <button class="btn">natural</button>
      <button class="btn">natural</button>
      <button class="btn">relax</button>
    </div>
  </div>
</div>

