<!----//End-find-place---->
<!----start-images-slider---->
<div class="container" *ngIf="trip">
    <div class="placeDetail">
        <div class="row">
            <div class="col-xs-10 tst">
                <p class="triptitle">
                    <i class="fa fa-telegram" aria-hidden="true"></i> &nbsp; {{trip.title}}</p>
            </div>
            <span class="col-xs-2 tst status"><i class="fa fa-clock-o" aria-hidden="true"></i> &nbsp;Status:<span>
                 &nbsp; Finished</span></span>

        </div>

        <!--start slider>
        
         <!--start-->

        <section class="slideshow">
            <div class="slideshow-container slide">
                <img *ngFor="let pic of tripPicsURLs" [src]="'app/assets/images/'+pic" alt={{pic}}>
            </div>
        </section>

    </div>
    <div class="row">
        <div class="col-md-12">
            <div id="rateTags">
                <span>
                    
                    <label class="update" *ngFor="let tag of tags">
                         <i class="fa fa-tag" aria-hidden="true"></i> {{tag}}</label>
                 </span>

            </div>
            <a style="z-index: 1555; margin-left: 80%;" class="btn btn-danger update" [routerLink]='["/updateTrip/"+trip._id]'>"Update Trip"</a>
        </div>
    </div>

    <!-- end slider-->


    <!-- about trip-->

    <div class="aboutTrip">

        <div class="row">

            <div class="col-md-4 col-xs-4 ">
                <blockquote>
                    <h4><i class="fa fa-newspaper-o" aria-hidden="true"></i> &nbsp; About Trip</h4>

                    <ul>
                        <li>{{trip.description}}</li>
                    </ul>
                </blockquote>
            </div>

            <div class="col-xs-4  col-md-4  ">
                <blockquote>
                    <h4><i class="fa fa-rocket" aria-hidden="true"></i>&nbsp;Activities</h4>

                    <ul>
                        <li *ngFor="let activity of activities">{{activity}}</li>
                    </ul>

                </blockquote>
            </div>

            <div class="col-xs-4  col-md-4 ">
                <blockquote>
                    <h4><i class="fa fa-university" aria-hidden="true"></i> &nbsp;Trip Places</h4>

                    <ul>
                        <li>Place1</li>
                        <li>Place2</li>
                    </ul>

                </blockquote>
            </div>

        </div>
        <!--end about trip section-->
    </div>
    <!-- start info Section-->
    <div id="info">
        <div class="row">
            <div class="col-md-7 col-xs-7">
                <h4>Info:</h4>
                <ul class="tinfo">
                    <li>
                        <p><i class="fa fa-credit-card" aria-hidden="true"></i>&nbsp;{{trip.price}}.EL</p>
                    </li>
                    <li>
                        <p><i class="fa fa-mobile fa-2x" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp; 5654342</p>
                    </li>
                    <li>
                        <p><i class="fa fa-envelope-o" aria-hidden="true"></i> &nbsp;&nbsp;EgyGo@gmail.com</p>
                    </li>
                    <li>
                        <p><i class="fa fa-map-marker fa-lg" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp; 80 Eldoki Egiza</p>
                    </li>
                    <li>
                        <p><i class="fa fa-globe" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;<a href="www.egygo.com">www.egygo.com</a></p>
                    </li>
                </ul>

            </div>
            <div class="col-md-4 hidden-sm" id="map"></div>

        </div>
    </div>

    <!-- end info Section-->
    <div class="container">
        <div class="row">
            <!--start review section-->
            <h2>Reviews</h2>


            <div id="slider">
                <ul>
                    <li>
                        <div class="slider-container">
                            <div class="col-md-2  col-xs-3">
                                <div>
                                    <img class="pic" src="../../app/assets/images/admin-pic1.jpg" alt="">
                                </div>
                                <h5 class="title">Williamson</h5>

                            </div>
                            <p class="description">

                                <span class="urate"><i class="fa fa-star fa-2x" aria-hidden="true"></i>
                                    <i class="fa fa-star fa-2x" aria-hidden="true">

                                        </i>
                                         <i class="fa fa-star fa-2x" aria-hidden="true">
            
                                         </i>
                                </span>
                                <br> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam dolor tellus, efficitur
                                ut tortor id, molestie egestas nibh. In blandit ex at erat vehicula molestie. Mauris vel
                                volutpat nulla. Suspendisse lorem ex.
                            </p>

                        </div>
                    </li>

                    <li>
                        <div class="slider-container">
                            <div class="col-md-2  col-xs-3">
                                <div>
                                    <img class="pic" src="../../app/assets/images/admin-pic1.jpg" alt="">
                                </div>
                                <h5 class="title">Williamson</h5>

                            </div>
                            <p class="description">

                                <span class="urate"><i class="fa fa-star fa-2x" aria-hidden="true"></i>
                                    <i class="fa fa-star fa-2x" aria-hidden="true">

                                        </i>
                                         <i class="fa fa-star fa-2x" aria-hidden="true">
            
                                         </i>
                                </span>
                                <br> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam dolor tellus, efficitur
                                ut tortor id, molestie egestas nibh. In blandit ex at erat vehicula molestie. Mauris vel
                                volutpat nulla. Suspendisse lorem ex.
                            </p>

                        </div>
                    </li>

                    <li>
                        <div class="slider-container">
                            <div class="col-md-2  col-xs-3">
                                <div>
                                    <img class="pic" src="../../app/assets/images/admin-pic1.jpg" alt="">
                                </div>
                                <h5 class="title">Williamson</h5>

                            </div>
                            <p class="description">

                                <span class="urate"><i class="fa fa-star fa-2x" aria-hidden="true"></i>
                                    <i class="fa fa-star fa-2x" aria-hidden="true">

                                        </i>
                                         <i class="fa fa-star fa-2x" aria-hidden="true">
            
                                         </i>
                                </span>
                                <br> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam dolor tellus, efficitur
                                ut tortor id, molestie egestas nibh. In blandit ex at erat vehicula molestie. Mauris vel
                                volutpat nulla. Suspendisse lorem ex.

                            </p>

                        </div>
                    </li>
                </ul>
            </div>



        </div>
        <!--end review section-->
        <input type="button" class="btn btn-danger sub" value="Add Review" />

    </div>
</div>
