
		<!----//End-find-place---->
		<!----start-images-slider---->
        <div class="container">
        
        <div class="placeDetail">
        
        <div class="row">
        
        <div class="col-xs-10 tst"></div>
      <span class="col-xs-2 tst">Status:<span>Finished</span></span>
        </div>
        <h1>Luxor & Aswan</h1>
        <!--start slider>
         <!--start-->
   <div id="Glide" class="glide">

    <div class="glide__arrows">
        <button class="glide__arrow prev" data-glide-dir="<">prev</button>
        <button class="glide__arrow next" data-glide-dir=">">next</button>
    </div>

    <div class="glide__wrapper">
        <ul class="glide__track">
            <li class="glide__slide"><img src="../../app/assets/images/d5.jpg" alt="">
</li>
            <li class="glide__slide"><img src="../../app/assets/images/d5.jpg" alt="">
</li>
            <li class="glide__slide"><img src="../../app/assets/images/d5.jpg" alt="">
</li>
        </ul>
    </div>

    <div class="glide__bullets"></div>

</div>

        <!-- end slider-->
        <!-- about trip-->
       <div class="aboutTrip">
       <div class="row">
       <div class="col-md-8 col-xs-8 data"> 
       <h4>About Trip</h4>
        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
         <div id="rateTags">
   
    <div class="tags">
      <button class="btn">safary</button>
      <button class="btn">natural</button>
      <button class="btn">natural</button>
      <button class="btn">relax</button>
    </div>
  </div>
        </div>
        <div class="col-lg-4 col-xs-4">
        <h4>Activities</h4>
        <ul>
        <li><a href="#">Nile Cruise</a></li>
        <li><a href="#">Parashut</a></li>
        <li><a href="#">Swimming</a></li>
        </ul>
        
        </div>
       
        </div>
       <!--end about trip section-->
       <!-- start info Section-->
       <h3>Info</h3>
       <div id="info">
       <div class="row">
       <div class="col-md-8 col-xs-12">
       <ul>
       <li ><i class="fa fa-credit-card fa-2x" aria-hidden="true"></i><span>&nbsp; 800LE</span></li>
       <li><i class="fa fa-mobile fa-3x" aria-hidden="true"></i> <span>&nbsp;&nbsp;&nbsp;&nbsp;0020-106-123456</span></li>
       <li><i class="fa fa-envelope-o fa-2x" aria-hidden="true"></i><span> &nbsp;&nbsp;EgyGo@gmail.com</span></li>
       <li><i class="fa fa-map-marker fa-2x" aria-hidden="true"></i><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 80 Eldoki Egiza</span></li>
        <li><i class="fa fa-globe fa-2x" aria-hidden="true"></i><span>&nbsp;&nbsp;&nbsp;&nbsp;<a href="www.egygo.com">www.egygo.com</a></span></li>
       </ul>
       </div>
       <div class="col-md-4 hidden-sm">
       <div id="map"></div>
        
       </div>
       </div>
       </div>
       <!-- end info Section-->
        <div class="container">
        <div class="row">
       <!--start review section-->
       <h2>Reviews</h2>
       
                        <div id="testimonial-slider" class="owl-carousel col-sm-8">
                    <div class="testimonial">
                        <div class="testimonial-content">
                            <div class="pic ">
                                <img src="../../app/assets/images/admin-pic3.jpg" alt="">
                            </div>
                            <h5 class="title">Williamson</h5>
                            <span class="post">Web Developer</span>
                        </div>
                        <p class="description">
                                      
        <span class="urate"><i class="fa fa-star fa-2x" aria-hidden="true"></i>
        <i class="fa fa-star fa-2x" aria-hidden="true"></i>
        <i class="fa fa-star fa-2x" aria-hidden="true"></i></span><br>
     
        
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam dolor tellus, efficitur ut tortor id, molestie egestas nibh. In blandit ex at erat vehicula molestie. Mauris vel volutpat nulla. Suspendisse lorem ex, congue at elit id, tincidunt tempor orci. Nullam nec augue ac tellus rhoncus tincidunt nec ut ligula. Praesent.
                        </p>
           
                    </div>
 
                    <div class="testimonial">
                        <div class="testimonial-content">
                            <div class="pic ">
                                <img src="../../app/assets/images/admin-pic1.jpg" alt="">
                            </div>
                            <h5 class="title">kristiana</h5>
                            <span class="post">Level 1</span>
                        </div>
                        <p class="description">
                         <span class="urate"><i class="fa fa-star fa-2x" aria-hidden="true"></i>
        <i class="fa fa-star fa-2x" aria-hidden="true"></i>
        <i class="fa fa-star fa-2x" aria-hidden="true"></i></span><br>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam dolor tellus, efficitur ut tortor id, molestie egestas nibh. In blandit ex at erat vehicula molestie. Mauris vel volutpat nulla. Suspendisse lorem ex, congue at elit id, tincidunt tempor orci. Nullam nec augue ac tellus rhoncus tincidunt nec ut ligula. Praesent.
                        </p>
                    </div>
                </div>
       <!--end review section-->
       </div>
                              <input type="button" class="btn btn-danger sub" value="Add Review"/>

       </div>



    <!--End photography-->
    
    
        <!--end place details section-->
        
        
        <!-- Add Review Section-->
        
       

		<!----//End-wrap---->

 
  