    <div class="destination-places-grids">
<div *ngFor="let place of places">
<div class="destination-places-grid">
    <div class="dest-place-pic main_box user_style4" data-hipop="two-horizontal">

        <div class="imgPlace"> 
      <a class="thumbnail" [routerLink]='["/placeDetails/"+place._id]'>
               <img class="img-responsive" [src]="'./app/components/images/'+place.placePicsUrl[0]" onError="this.src='./app/components/images/defaultthumbnail.jpg';" alt="{{place.placeName}}">
                </a>
            </div>

        <a href="#" class="popup"> </a>
        <a href="#" class="popup2"> </a>
    </div>
    <div class="dest-place-opt">
        <ul class="dest-place-opt-fea">
            <li *ngFor="let activty of place.activities"><a class="hot" href="#"><span> </span> {{activty}}</a></li>
            <!--<li><a class="plain" href="#"><span> </span> Air ticket</a></li>
            <li><a class="Breakfast" href="#"><span> </span> Break Fast</a></li>-->
            <div class="clear"> </div>
        </ul>
        <ul class="dest-place-opt-cast">
            <li><a class="d-place" [routerLink]='["/placeDetails/"+place._id]'>>{{place.placeName}}</a></li>
            <li><a class="d-price">Starting Form {{place.price}}$</a></li>
            <div class="clear"> </div>
        </ul>
    </div>
</div>
</div>
    </div>