<div class="destination-places-grid" onclick="location.href='#';">
    <div class="dest-place-pic main_box user_style4" data-hipop="two-horizontal">
        <div class="imgPlace"> <img src="app/assets/images/p7.jpg" title="place-name" /></div>

        <a href="#" class="popup"> </a>
        <a href="#" class="popup2"> </a>
    </div>
    <div class="dest-place-opt">
        <ul class="dest-place-opt-fea">
            <li><a class="hot" href="#"><span> </span> Hotel</a></li>
            <li><a class="plain" href="#"><span> </span> Air ticket</a></li>
            <li><a class="Breakfast" href="#"><span> </span> Break Fast</a></li>
            <div class="clear"> </div>
        </ul>
        <ul class="dest-place-opt-cast">
            <li><a class="d-place" href="#">Venice</a></li>
            <li><a class="d-price" href="#">Starting Form 250$</a></li>
            <div class="clear"> </div>
        </ul>
    </div>
</div>