	
<div class="home-about">
				<img src="{{imgPath}}/pyramids1.jpg" class="home-about-img">
			
				<h2>
					Tourism is the most important sources of national income in Egypt and the Egyptian people, accustomed to the presence of tourists in their midst since antiquity. Featuring Egypt abundance of tourist attractions of all kinds, because of the abundance of temples and Pharaonic monuments that have been take care of it and invested to tourist attraction, is also available tourism infrastructure, which includes five-star hotels, tourist
				</h2>
			</div>
			
				<ul class="country-list">
					<li class="country">
						<div id="country1"><img src="{{imgPath}}/Alla.jpg" class="police"></div>
						<p>
						Alaa Ali Mohamed,is aFrontEnd Developer you can contact me at allaaly@yahoo.com
						</p>
					</li>
					<li class="country">
						<div id="country2"><img src="{{imgPath}}/Esraa.jpg" class="police"></div>
						<p>
					Esraa Ali Ahmed,is aFrontEnd Developer you can contact me at esraaalyaid@yahoo.com
						</p>
					</li>
					<li class="country">
						<div id="country3"><img src="{{imgPath}}/Walla.jpg" class="police"></div>
						<p>
						Walaa ElNabawy ,is aFrontEnd Developer you can contact me at wallaelnabway@yahoo.com
						</p>
					</li>
					
				</ul>
				<ul class="country-list">
					<li class="country">
						<div id="country1"><img src="{{imgPath}}/Norhan.png" class="police"></div>
						<p>
					Norhan El Harariy,is aFrontEnd Developer you can contact me at nourhanelharariy@yahoo.com
						</p>
					</li>
					<li class="country">
						<div id="country2"><img src="{{imgPath}}/admin-pic1.jpg" class="police"></div>
						<p>
						Ayman Turk,is aFrontEnd Developer you can contact me at aymanturk@yahoo.com
						</p>
					</li>
					<li class="country">
						<div id="country3"><img src="{{imgPath}}/admin-pic4.jpg" class="police"></div>
						<p>
						HagarOmar,is aFrontEnd Developer you can contact me at hagaromar@yahoo.com
						</p>
					</li>
					
				</ul>