@charset "utf-8";
/* CSS Document */
.about{
    text-align: center;
	font-size:100%;
	background-color:#F5E5C0;
	color:#2f3440;
	
}
h1{
	position:relative;
}
h1:after{
	    content: "";
    border-top: 1px solid black;
    position: absolute;
    width: 41%;
    top: 22px;
    right: 0%;
}
h1:before{
	    content: "";
    border-top: 1px solid black;
    position: absolute;
    width: 41%;
    top: 22px;
    left: 0%;
}
h3{
	color:#EA6045}
#about{
	text-align:left;
	}
	.upic{
		width:150px;
		height:150px;
		border:1px solid #EA6045;
		border-radius:50%;
		background-image:url('../images/bad-profile-pic-2.jpeg');
		 background-repeat:no-repeat; 
		margin-left:35%;
		margin-top:10%;
		margin-right:0;
		margin-bottom:2%;
		}
		.udata{
			padding:2%;
			}
			
			.abt{
				padding:2%;
				}