
.about{ text-align: center; font-size:100%; background-color:#F5E5C0; color:#2f3440; padding-top: 40px; padding-bottom: 40px; }

 #about{ font-size: 20px; text-align: justify; font-weight: bold; line-height: 30px; text-indent: 30px; width: 500px;}

.team{ height: 500px; }

h1{ position:relative; }

h3{ color:#EA6045;  padding: 50px;}

.upic{ width:150px; height:150px; border:1px solid #EA6045; border-radius:50%; margin: 50px; }

.udata{ width: 550px; }
			
.abt{ padding:2%; }