@charset "utf-8";

/* CSS Document */
body{
	background-color:#F5E5C0;
	font-family: 'Open Sans', sans-serif;
	}
.title{
	
	margin-top:15px;
	margin-left:0;
	color:#3F5666;
	}
	.description
	.images-slider{
		margin-top:1%;
		}
	.vbtn{
			margin-left:90%;
			margin-top:-20%;
			background-color:#EA6045;
			}
			
			
	#rate{
				  height: 100px;
				  width:100px;
				  position:absolute;
  					margin-left:90%;
					margin-top:32%;
					color:#F8CA4D;
				font-size:24px;
					margin-right:3%;
					margin-bottom:3%
					}
	.bx-wrapper{
						background:#3F5666 !important;
						border:0 !important;
						}
	.bx-wrapper .bx-viewport{
						background:#3F5666;}
	.placeDetail{
						color:#F5E5C0;
						background-color:#3F5666;
						
						padding-top:3%;
						padding-bottom:3%;
						
						
	}
	.placeDetail .triptitle{
		margin:10px;
		font-family: 'Open Sans', sans-serif;
		font-size: 25px;
		color:#F8CA4D;
	}
		
	.placeDetail h2{
			color:#EA6045;
			font-size:27px;
			font-weight:bold
						}
						.row h2{
							color:#F8CA4D;
			font-size:27px;
			font-weight:bold
						}
						
	.pict{
							margin-top:10%}
	.pic{
					width: 80px;
					height: 80px;
					display: inline-block;
					border-radius: 50%;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;	
							}
	#upic{
							width:150px;
							height:150px;
							border:1px solid #EA6045;
							border-radius:50%;
							background-image:url(../images/admin-pic4.jpg);
							   background-position: center;
  				      background-repeat: no-repeat;
   					 background-size: cover;
							
							
						
							
							}
	#usersReview{
								
								width:90%;
								height:40%;
								border:1px solid #EA6045;
								margin-left:10%;
								margin-top:3%;
								}
	#ureview p{
									
									margin-top:3%;}
	#ureview img{
									
									padding-right:0px;
									margin-left:2%;
									width:100px;
									height:100px
									}
	
	
										

	.stars{
		margin-top:6%;
		color:#F8CA4D; padding-left:7;}
		.stars fa{
			color:#F8CA4D;
			}	
			.review{
				border:1px solid #F8CA4D;
				padding:2%;
				 overflow-y: scroll;
				 height:500px;}							
				
					.tst{color:#F5E5C0}
					.tst span{color:#EA6045}

						.aboutTrip{
							margin-top:3%;
							margin-bottom: 3%;
							height: 100px;
							}
							blockquote{
                            border-left-color: #EA6045;
							height: 150px;
							background-color: #3F5666;

							}
							.aboutTrip h4{
								color:#EA6045;
								font-family: 'Open Sans', sans-serif;
								
								}
								.aboutTrip ul{
									font-family: 'Open Sans', sans-serif;
								font-size: 15px;
							
								}

								blockquote li{
								margin:4%;
								font-family: 'Open Sans', sans-serif;
								font-size: 15px;
									color: #F5E5C0;
								
								
								}
								.aboutTrip a{
								font-family: 'Open Sans', sans-serif;
								font-size: 15px;
								color: #2F3440;
								text-decoration: none;
									}
							.data{
								border-right:1px solid #F8CA4D }
								#info{
									border:1px solid #EA6045;
									background-color: #2F3440;
									margin-top: 7%;
									padding:3%;
									}
									#info a{color:#F5E5C0}
									#info h4{color:#F5E5C0}

										
 #map {
   width: 400px;
   float:right;
   height: 300px;
   background:url(./app/assets/images/sampleMap.jpg);
 }
 h3{
	 color:#EA6045}
	 
	 .addReview{
		 border:1px solid #EA6045;
		 padding:2%;
		 
		 }
		 .addReview .form-control{
			 width:50%;
			 }
			 .form{margin-left:5%;}
			 label{
				 margin-top:2%}
				 .addReview i{
					 margin-top:2%;}
					 
						 #ureview a{
							 color:#EA6045}
							 #comment{background-color:#F5E5C0;
							 }
							 .form .btn{background:#F5E5C0 }
							 .sub{
						 
						margin-left:800px;
						margin-top:20px;
						margin-bottom: 20px;
							 }
						 .fallback{
							 color:#EA6045}

							 .dropzone span{color:#EA6045}

							 #info i{
								 margin: 1%;
								text-align:left;
								color: #EA6045
								}
								#info li{font-size: 15px;
								
								}
								#info ul{
									margin-top:10px;
								}
								.dropzone{
									width:50%;
									
									min-height:10%;}
	 * {
      box-sizing: border-box;
    }

    .slider {
        width: 90%;
        margin: 50px auto;
    }

    .slick-slide {
      margin: 0px 20px;
    }

    .slick-slide img {
      width: 100%;
    }

    .slick-prev:before,
    .slick-next:before {
        color: black;
    }
  .slick-slide  img{
	  width:300px;
	  height:200px;
	  }		
	  .tinfo{
		font-family: 'Open Sans', sans-serif;
		font-size: 15px;
		background-color: #3F5666;
		color: #F5E5C0;
		
	  }	
	  .tinfo li{
		  margin-top:10px;
		  padding-top: 10px;
	  }		
	  .btn-danger{
		  background-color: #EA6045;
		  color:#F5E5C0;
	  }
	  .btn-danger:hover{
		  background-color: #F5E5C0;
		  color:#EA6045;
	  }
	  .update{
		   background-color: #EA6045;
		  color:#F5E5C0;
		  margin:10px;
		  margin-left: 20px;
	  }
	 .update:hover{
color:#2F3440;
	 }

												



#rateTags{
	background-color:#EA6045;
	padding: 0.5em 1em;
	border-top:1px solid #F5E5C0;
	 }
	 #rateTags .btn
	 {
		 background-color:#2F3440;
		 }
	  .btn:hover{
		 color:#2F3440;
		 border-color:#2F3440;
		 }

		 
	.urate{
		color:#F8CA4D;
		padding-top:1%;
		
		}
		.owl-item{
			width:25% !important; 
			overflow:hidden}
			.rating{z-index:55;
			}
			
			
			
			

   
   #dialog{
	   width:100%;
	   height:100%;
	   background-color:#F5E5C0;
	   z-index:100;
	  }
	  .image a{
		  cursor:pointer}
		  #dialog img{
			  width:100%;
			  height:100%}
			  #imgpho{
				  width:20%;
				  height:20%}
				  #animatedModal{
	
	width:60% !important;
	height:80% !important;
	margin:auto !important;
	background-color:rgba(44, 62, 80, .5) ;
	    top: 2% !important;
    left: 20% !important;
	color:#F5E5C0;
	margin:auto !important;
	    }
		.modal-content{
			background-color:rgba(44, 62, 80, .5)}
	.close-animatedModal{
		margin-left:80%;
		cursor:pointer;
		}
		.modal-content .table{
			margin-left:0}

.status{
margin-top: 18px
}

	.slideshow {
  width: 625px;
  margin: 0 auto;
  overflow: hidden;
  border: solid 1px white;
}

.slideshow-container {
  width: 2500px;
  font-size: 0;
  transition: 1s ease;
  height: 300px;
}

.slideshow-container:hover {
  animation-play-state: paused;
}

img {
  width: 625px;
  height: 300px;
  display: inline-block;
  font-size: 16px;
  text-align: center;
}

.text-container {
  height: 225px;
  position: relative;
}

.slide {
  animation: slide 24s ease infinite;
}

.activities {
	width:150px;
	float:right;
	margin-top: 50px;

}
.activities h4{
	font-family: 'Open Sans', sans-serif;
	color:#EA6045;
}
.activities a{
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	color:#F5E5C0;
}

/**** slider ****/

#slider, ul
{
	height: 240px;
}

#slider
{
	margin: auto;
	overflow: hidden;
	padding: 20px;
	border: 1px solid rgba(0, 0, 0, 0.15);
	margin-top: 50px;
	border-radius: 10px;
	box-shadow: 2px 2px 14px rgba(0, 0, 0, 0.25);
	position: relative;
	width: 800px;
}

#slider li
{margin: 5px 0px;
	float: left;
	position: relative;
	width: 800px;
	display: inline-block;
	height: 200px;
}

#slider ul
{
	list-style: none;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 9000px;
	transition: left .3s linear;
	-moz-transition: left .3s linear;
	-o-transition: left .3s linear;
	-webkit-transition: left .3s linear;
	margin-left: -25px;
  font-family: century gothic;
  color: #3F5666;
}

/*** Content ***/

.slider-container
{
	margin: 0 auto;
	margin-left: 30px;
	padding: 0;
	width: 800px;
  min-height: 180px;
  border-bottom: 1px solid #ccc;
}

.slider-container h4
{
 	color: #2F3440;
  text-shadow: -1px 0px 0px rgba(0, 0, 0, 0.50);
}

.slider-container  p
{
	margin: 10px 20px;
	width: 720px;
	font-weight: semi-bold;
	text-align: justify;
}
/*** target hooks ****/

@-webkit-keyframes slide-animation {
	0% {opacity:0;}
	2% {opacity:1;}
	20% {left:0px; opacity:1;}
	22.5% {opacity:0.6;}
	25% {left:-800px; opacity:1;}
	45% {left:-800px; opacity:1;}
	47.5% {opacity:0.6;}
	50% {left:-1600px; opacity:1;}
	70% {left:-1600px; opacity:1;}
	72.5% {opacity:0.6;}
	75% {left:-2400px; opacity:1;}
	95% {opacity:1;}
	98% {left:-2400px; opacity:0;} 
	100% {left:0px; opacity:0;}
}

#slider ul
{
	-webkit-animation: slide-animation 25s infinite;
}

/* use to paused the content on mouse over */

#slider ul:hover
{
	-moz-animation-play-state: paused;
	-webkit-animation-play-state: paused;
}


@keyframes slide {
  0% {
    transform: translateX(0%);
  }
  
  12.5% {
    transform: translateX(0%);
  }
  
  25% {
    transform: translateX(-25%);
  }
  
  37.5% {
    transform: translateX(-50%);
  }
  
  50% {
    transform: translateX(-50%);
  }
  
  62.5% {
    transform: translateX(-75%);
  }
  
  75% {
    transform: translateX(-75%);
  }
  
  87.5% {
    transform: translateX(-85%);
  }
  
  99% {
    transform: translateX(-95%);
  }
  
  100% {
    transform: translateX(0);
  }
}

