

<!---//calender-style---->

<!----start-wrap----> 
<!----start-wrap----> 

<!----start-images-slider---->
<div *ngIf ="place">

<div class="container">
  <div class="row">
    <div class="images-slider col-md-9 col-xs-12"> 
      <!-- start slider -->
      <div id="fwslider">
        <div class="slideer_container">
          <div class="slidee"> 
            <!-- Slide image --> 
            
            <img [src]="'./app/assets/images/'+place.placePicsUrl[0]" alt="{{place.placeName}}"/> 
            <!-- /Slide image --> 
            <!-- Texts container -->
            <div class="slide_content">
              <div class="slide_content_wrap"> 
                <!-- Text title -->
                <div id="ico">
                  <button class="btn love"><i class="fa fa-heart fa-2x" aria-hidden="true"></i></button>
                  <button class="btn go"><i class="fa fa-check fa-2x" aria-hidden="true"></i></button>
                </div>
                <h4 class="title">{{place.placeName}}</h4>
                <!--start activity section-->
                <div class="activities" >
                  <ul>
                    <li *ngFor="let activity of place.activities">{{activity}} </li>
                  
                  </ul>
                </div>
                
                <!--end activity section--> 
              </div>
              <!-- /Texts container --> 
            </div>
            
            <!--/slide --> 
          </div>
        </div>
      </div>
      <!--/slider --> 
      
    </div>
    <div class="col-md-3 hidden-xs placeImg">
      <div class="image" > <img src="./app/assets/images/1462353277_cm.jpg" style="position:relative"/> <a id="photograph" href="./app/components/placeSliderComponent/photographimgs.component.html" target="_blank"> <span style="position:absolute; width:100%;top:28%;background-color:rgba(44, 62, 80, .5);color:#F5E5C0; padding:2%;">Photographers Photos</span></a> 
        
       
      </div>
      <!--End photography--> 
      <!--start photography-->
      <div class="image"> <img src="./app/assets/images/1462353277_cm.jpg" style="position:relative"/> <a ><span style="position:absolute; top:65%;background-color:rgba(44, 62, 80, .5);width:100%;color:#F5E5C0; padding:2%;">Visitors Photos</span></a> </div>
      <!--End Visitors-->
      <div class=" map">
        <div id="maps" style="position:relative ;width:275px;height:110px; margin-top:3%;"></div>
        
        <span style="position:absolute; top:93%;background-color:rgba(44, 62, 80, .5);width:100%;color:#F5E5C0; padding:2%;">Map</span> </div>
    </div>
  </div>
  <div id="rateTags" class="row">
    <div class="rate">
       <span><i class="fa fa-star fa-2x" aria-hidden="true"></i></span>
        <span><i class="fa fa-star fa-2x" aria-hidden="true"></i></span> 
        <span><i class="fa fa-star fa-2x" aria-hidden="true"></i></span>
         <span><i class="fa fa-star fa-2x" aria-hidden="true"></i></span>
          <span><i class="fa fa-star-o fa-2x" aria-hidden="true"></i></span>
           </div>
    <div class="tags">
      <button class="btn">safary</button>
      <button class="btn">natural</button>
      <button class="btn">natural</button>
      <button class="btn">relax</button>
    </div>
  </div>
</div>


	<div class="placeDetail container">
<a style="z-index: 1555; margin-left: 80%;" class="btn btn-danger" [routerLink]='["/updatePlace/"+place._id]'>"Update Place"</a>
        <h2>{{place.placeName}}</h2>
        
<p>{{place.description}}</p>        
        <div class="container">
        <div class="row">
        <div class="col-sm-5">
        <div class="row">
        <div class="rating">
        <h2>Rates</h2>
        <table class="table table-responsive">
  <tbody>
    <tr>
      
      <td id="service">Services</td>
      <td><div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 35%" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
</div></td>

<td id="service">Food</td>
       <td><div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
</div></td>
      
    </tr>
   
    <tr>
      
      <td id="service">Cleanliness</td>
       <td><div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
</div></td>

 <td id="service">Toilets</td>
       <td><div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
</div></td>
    </tr>
    
    <tr>
      
      <td id="service">Value</td>
       <td><div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 15%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
</div></td>
    </tr>
  </tbody>
</table>
        </div>
        </div>
       <!--start review section-->
       
      <div class="row">
       
       <h2>Reviews</h2>
       <!--reviewsss-->
       <div class="review ">
         
    <div class="container">
        <div class="row">
            <div class=" col-sm-7 " id="tst">
                <div id="testimonial-slider" class="owl-carousel">
                    <div class="testimonial">
                        <div class="testimonial-content">
                            <div class="pic ">
                                <img src="./app/assets/images/admin-pic3.jpg" alt="">
                            </div>
                            <h5 class="title">Williamson</h5>
                            <span class="post">Web Developer</span>
                        </div>
                        <p class="description">
                                      
        <span class="urate"><i class="fa fa-star fa-2x" aria-hidden="true"></i>
        <i class="fa fa-star fa-2x" aria-hidden="true"></i>
        <i class="fa fa-star fa-2x" aria-hidden="true"></i></span><br>
     
        
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam dolor tellus, efficitur ut tortor id, molestie egestas nibh. In blandit ex at erat vehicula molestie. Mauris vel volutpat nulla. Suspendisse lorem ex, congue at elit id, tincidunt tempor orci. Nullam nec augue ac tellus rhoncus tincidunt nec ut ligula. Praesent.
                        </p>
           
                    </div>
 
                    <div class="testimonial">
                        <div class="testimonial-content">
                            <div class="pic ">
                                <img src="./app/assets/images/admin-pic1.jpg" alt="">
                            </div>
                            <h5 class="title">kristiana</h5>
                            <span class="post">Level 1</span>
                        </div>
                        <p class="description">
                         <span class="urate"><i class="fa fa-star fa-2x" aria-hidden="true"></i>
        <i class="fa fa-star fa-2x" aria-hidden="true"></i>
        <i class="fa fa-star fa-2x" aria-hidden="true"></i></span><br>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam dolor tellus, efficitur ut tortor id, molestie egestas nibh. In blandit ex at erat vehicula molestie. Mauris vel volutpat nulla. Suspendisse lorem ex, congue at elit id, tincidunt tempor orci. Nullam nec augue ac tellus rhoncus tincidunt nec ut ligula. Praesent.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

       </div>
       </div>
       <!--reviewsss-->
       <!--End review section-->
     </div>
 

<div class="col-sm-3"></div>
<div class="col-sm-4 col-sm-12 toptrip">
<h3>Related Trips</h3>
<div id="trip">
<img src="./app/assets/images/blog-pic.jpg"/>
<h5>Luxor & Aswan</h5>
</div>
<div id="trip">
<img src="./app/assets/images/blog-pic.jpg"/>
<h5>Luxor & Aswan</h5>
</div>
<div id="trip">
<img src="./app/assets/images/d5.jpg"/>
<h5>Luxor & Aswan</h5>
</div>
<div id="trip">
<img src="./app/assets/images/d5.jpg"/>
<h5>Luxor & Aswan</h5>
</div>

</div>
</div>
     <!--end big row-->
     </div>
     </div>
     <!--End reviews section-->
     
    </div>